[Link to the tutorial website](http://pandas.pydata.org/pandas-docs/stable/10min.html#min)

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

__An ndarray__: ndarray stands for "n-dimensional array"

When we assign the index manually, we can assign any index we want

In [16]:
s = pd.Series(np.random.randn(6), index = ['a','b','c','d','e','f'])

In [17]:
s

a   -1.045944
b   -1.758024
c    0.879220
d   -0.843037
e    0.403230
f   -0.596380
dtype: float64

In [18]:
s.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

However, when we don't assign an index, it automatically assigns the standard numerical indices

In [19]:
series = pd.Series(np.random.rand(5))
series

0    0.450005
1    0.560654
2    0.152107
3    0.308015
4    0.171701
dtype: float64

__DataFrame__:

In [24]:
dates = pd.date_range('20130101', periods = 6)
dates
#type(dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [29]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list('wxyz'))
df

                   w         x         y         z
2013-01-01  0.395762 -2.541141  0.404324  1.311852
2013-01-02  0.101145 -1.994718  0.499934 -0.376358
2013-01-03  0.410557 -0.926491  0.189688  0.048632
2013-01-04  0.287677 -0.653608 -0.998973 -0.414160
2013-01-05 -1.296572 -0.580056 -0.555436 -0.751135
2013-01-06  0.456263  1.600388  0.362450 -1.825355

In [33]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                   'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [34]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [39]:
df2.index #lists row indices

Int64Index([0, 1, 2, 3], dtype='int64')

In [38]:
df2.columns #lists column indices

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [40]:
df2.values #gives an array of arrays of the values in each row

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']], dtype=object)

In [42]:
df.describe() #gives various statistical information about data

              w         x         y         z
count  6.000000  6.000000  6.000000  6.000000
mean   0.059139 -0.849271 -0.016336 -0.334420
std    0.676234  1.434714  0.614104  1.025826
min   -1.296572 -2.541141 -0.998973 -1.825355
25%    0.147778 -1.727661 -0.369155 -0.666891
50%    0.341720 -0.790049  0.276069 -0.395259
75%    0.406858 -0.598444  0.393856 -0.057615
max    0.456263  1.600388  0.499934  1.311852

In [43]:
df.T #transposes data (i.e. switches columns and rows)

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
w    0.395762    0.101145    0.410557    0.287677   -1.296572    0.456263
x   -2.541141   -1.994718   -0.926491   -0.653608   -0.580056    1.600388
y    0.404324    0.499934    0.189688   -0.998973   -0.555436    0.362450
z    1.311852   -0.376358    0.048632   -0.414160   -0.751135   -1.825355